
# Task : Prediction using Decision Tree Algorithm

We use the Decision Tree Classifier for the Iris dataset classification problem...

In [1]:
#import moduls
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree

In [2]:
# confusion matrix,accuracy,classification_report in sklearn
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [3]:
#import dataset
data=pd.read_csv('Iris.csv')

In [4]:
data.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [5]:
#Checking for missing values
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
data.drop('Id',axis=1,inplace=True)

In [7]:
inputs=data.drop('Species',axis=1)
inputs

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [8]:
target=data['Species']
target

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [9]:
inputs.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

# label encoding

In [10]:
from sklearn.preprocessing import LabelEncoder

Label_Species=LabelEncoder()

In [11]:
target=Label_Species.fit_transform(target)

# create model

In [12]:
model=tree.DecisionTreeClassifier()

In [13]:
model.fit(inputs,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
model.score(inputs,target)

1.0

# Prediction

In [15]:
model.predict([[5.1,3.5,1.4,0.2]]) #Iris-setosa

array([0])

In [16]:
model.predict([[5.5,2.4,3.8,1.1]]) #Iris-versicolor

array([1])

In [17]:
model.predict([[6.7,3.3,5.7,2.1]]) #Iris-virginica

array([2])

# Testing

In [18]:
pre_data=inputs[: :2]
actual_values=target[: :2]

In [19]:
prediction_data=model.predict(pre_data)

In [20]:
prediction_data

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2])

In [21]:
#actual values
actual_values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2])

# Confusion Matrix (Testing data)

In [22]:
# confusion matrix
matrix = confusion_matrix(actual_values,prediction_data, labels=[0,1,2])
print('Confusion matrix : \n',matrix)

Confusion matrix :
 [[25  0  0]
 [ 0 25  0]
 [ 0  0 25]]

# accuracy (Testing data)

In [23]:
accuracy =accuracy_score(actual_values, prediction_data)
accuracy_percentage = 100 * accuracy
accuracy_percentage

100.0

# Classification Report (Tesing data)

In [24]:
report=classification_report(actual_values, prediction_data) 
report

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00        25\n           1       1.00      1.00      1.00        25\n           2       1.00      1.00      1.00        25\n\n    accuracy                           1.00        75\n   macro avg       1.00      1.00      1.00        75\nweighted avg       1.00      1.00      1.00        75\n'