# Support Vector Machine Classification

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("Decision_Tree_dataset.csv")

In [14]:
data.head()

    company                  job     degree  salary_more_then_50000
0  Reliance      sales executive  bachelors                       0
1  Reliance      sales executive    masters                       0
2  Reliance     business manager  bachelors                       1
3  Reliance     business manager    masters                       1
4  Reliance  computer programmer  bachelors                       0

In [15]:
target = data['salary_more_then_50000']

In [16]:
inputs = data.drop('salary_more_then_50000',axis='columns')

In [17]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [18]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [19]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0     Reliance      sales executive  bachelors          0      2         0
1     Reliance      sales executive    masters          0      2         1
2     Reliance     business manager  bachelors          0      0         0
3     Reliance     business manager    masters          0      0         1
4     Reliance  computer programmer  bachelors          0      1         0
5     Reliance  computer programmer    masters          0      1         1
6      Torrent      sales executive    masters          2      2         1
7      Torrent  computer programmer  bachelors          2      1         0
8      Torrent     business manager  bachelors          2      0         0
9      Torrent     business manager    masters          2      0         1
10  Sun Pharma      sales executive  bachelors          1      2         0
11  Sun Pharma      sales executive    masters          1      2         1
12  Sun Pharma     business manager  bachelors          1      0         0
13  Sun Pharma     business manager    masters          1      0         1
14  Sun Pharma  computer programmer  bachelors          1      1         0
15  Sun Pharma  computer programmer    masters          1      1         1

In [21]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')

In [22]:
inputs_n

    company_n  job_n  degree_n
0           0      2         0
1           0      2         1
2           0      0         0
3           0      0         1
4           0      1         0
5           0      1         1
6           2      2         1
7           2      1         0
8           2      0         0
9           2      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [23]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_50000, dtype: int64

In [24]:
from sklearn.svm import SVC
model = SVC()

In [25]:
model.fit(inputs_n, target)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [26]:
model.score(inputs_n,target)

0.6875

# Prediction

In [27]:
model.predict([[0,2,0]])

array([0], dtype=int64)

In [28]:
model.predict([[0,1,2]])

array([1], dtype=int64)

In [29]:
pre_data=pd.read_csv("Prediction_encoded.csv")

In [30]:
pre_data

    company_n  job_n  degree_n
0           0      2         0
1           0      2         1
2           0      0         0
3           0      0         1
4           0      1         0
5           0      1         1
6           2      2         1
7           2      1         0
8           2      0         0
9           2      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [31]:
prediction_data=model.predict(pre_data)

In [32]:
pd.DataFrame(prediction_data)

    0
0   0
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
11  1
12  1
13  1
14  1
15  1

In [33]:
# actual values
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_50000, dtype: int64

In [34]:
# predicted values
prediction_data

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

# Confusion Matrix

In [35]:
from sklearn import metrics

In [36]:
# confusion matrix,accuracy,classification_report in sklearn
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [37]:
# confusion matrix
matrix = confusion_matrix(target,prediction_data, labels=[1,0])
print('Confusion matrix : \n',matrix)

Confusion matrix :
 [[10  0]
 [ 5  1]]

# Accuracy

In [38]:
accuracy = metrics.accuracy_score(target, prediction_data)

In [39]:
accuracy

0.6875

# Classification Report

In [40]:
report=classification_report(target, prediction_data)

In [41]:
report

'             precision    recall  f1-score   support\n\n          0       1.00      0.17      0.29         6\n          1       0.67      1.00      0.80        10\n\navg / total       0.79      0.69      0.61        16\n'